.lightBackground {
  background-color: rgba(255, 255, 255, 0.445);
}
.imgSize {
  height: 250px;
}
body {
  background-image: url(https://images5.alphacoders.com/132/1327980.png);
  color: white;
}

.heightCard {
  height: 400px !important;
}
.imgCard {
  height: 200px !important;
}
